Flask==3.0.2
torch==2.2.1+cpu --index-url https://download.pytorch.org/whl/cpu
ultralytics==8.0.230
opencv-python-headless==4.9.0.80
Pillow==10.2.0
gunicorn==21.2.0
gevent==23.9.1
numpy==1.26.4
psutil==5.9.7
